<!-- start custom head snippets -->
{% gtm head %}

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="/assets/images/favicon.ico" />

<!-- Multilang tags -->
{% for lang in site.languages %}
    {% if lang == site.default_lang and site.default_locale_in_subfolder != true %}
<link rel="alternate" hreflang="{{ lang }}" href="{{ site.baseurl_root | append: page.url | absolute_url }}">
<link rel="alternate" hreflang="x-default" href="{{ site.baseurl_root | append: page.url | absolute_url }}">
    {% else %}
<link rel="alternate" hreflang="{{ lang }}" href="{{ site.baseurl_root | append: '/' | append: lang | append: page.url | absolute_url }}">
        {% if lang == "en-US" %}
<link rel="alternate" hreflang="en" href="{{ site.baseurl_root | append: '/' | append: lang | append: page.url | absolute_url }}">
        {% endif %}
    {% endif %}
{% endfor %}

<!-- end custom head snippets -->
